<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/adminLayout}">
<head>
  <title>Dashboard</title>
</head>
<body>
<div class="content" layout:fragment="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h1>Create new category</h1>
        </div>
        <div class="card-body">
          <form action="">
            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" type="text" class="form-control" placeholder="Enter category name">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>